[submodule "Turbin3-preReq"]
	path = Turbin3-preReq
	url = https://github.com/PrajwalGraj/Turbin3-preReq.git
[submodule "Solana-Starter"]
	path = Solana-Starter
	url = https://github.com/PrajwalGraj/Solana-Starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/PrajwalGraj/anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/PrajwalGraj/anchor-escrow
